.main {
  padding: 0 20px;
  font-family: "Klee One", cursive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & &__message {
    text-align: center;
  }

  & &__message + &__message {
    margin-top: 16px;
  }

  & &__text {
    // font-size: 25px;
    text-align: center;
  }

  & &__boxes {
    display: flex;
  }

  & &__cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & &__ribon {
    display: inline-block;
    position: relative;
    height: 45px;
    text-align: center;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      bottom: -10px;
      left: -35px;
      border: 20px solid #d64120;
      border-left-color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      bottom: -10px;
      right: -35px;
      border: 20px solid #d64120;
      border-right-color: transparent;
    }
  }

  & &__ribonText {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 20px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    background: #d92b04; /*真ん中の背景色*/
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      border: none;
      z-index: 2;
      border-bottom: solid 10px transparent;
      border-right: solid 15px #981d01; /*左の折り返し部分*/
    }

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      right: 0;
      border: none;
      z-index: 2;
      border-bottom: solid 10px transparent;
      border-left: solid 15px #981d01; /*右の折り返し部分*/
    }
  }

  & &__text {
    margin-top: 80px;
    background-color: #ffff;
    border-radius: 4px;
    padding: 10px 20px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  & &__textContent {
    text-decoration: none;
  }
}
