.Album {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  & &__book {
    background-color: #fdfaf7;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0 * 0.5);
  }

  & &__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  & &__coverText {
    &:first-child {
      font-size: 24px;
      font-weight: bold;
    }
  }

  & &__coverText + &__coverText {
    margin-top: 8px;
  }

  & &__demo,
  & &__page {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #c2b5a3;
    box-shadow: inset 7px 0 30px -7px rgb(0, 0, 0 * 0.4);
    background-color: #fdfaf7;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  & &__pageContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & &__pageContentTextWrapper {
    display: flex;
    flex-direction: column;
  }

  & &__pageContentText {
    font-family: "Klee One", cursive;
    font-size: 14px;
  }

  & &__pageContentText + &__pageContentText {
    margin-top: 12px;
  }

  & &__pageImage {
    flex-wrap: wrap;
    gap: 40px;

    &.Album__pageImage--full {
      height: 100%;
    }
  }

  & &__image,
  & &__demoContent {
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__demo:nth-child(2n),
  & &__page:nth-child(2n) {
    border-left: none;
  }

  & &__imageContent,
  & &__demoContentImage {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  & &__texts {
    font-family: "Klee One", cursive;
    font-size: 14px;
    text-align: center;
  }

  & &__pageImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__pageImage + &__texts {
    margin-top: 14px;
  }

  & &__page1Image,
  & &__page2Image {
    width: 80%;
  }

  & &__videoWraper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  & &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  & &__coverMessage {
    font-family: "Klee One", cursive;
  }

  & &__action {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__prevButton,
  & &__nextButton {
    border: 1px solid #333333;
    color: #333333;
    padding: 6px 10px;
    border-radius: 4px;

    &.Album__prevButton--disabled,
    &.Album__nextButton--disabled {
      pointer-events: none;
      background-color: rgb(204, 204, 204);
      border-color: rgb(204, 204, 204);
      color: gray;
    }
  }

  & &__prevButton + &__nextButton {
    margin-left: 80px;
  }
}
